{% extends 'layout.html' %}

{% block title %}About{% endblock %}

{% load static %}
{% block content %}
<section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">About Us!</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">This is kamol's first webpage!</p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
        </div>
      </div>
    </div>
  </section>


  {% endblock %}